.shimmerCard {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
    animation: shimmer 1.5s infinite;
    height:"450px";
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  